<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Animal Info</h3>
    <h4>Name: <%= name %></h5>
    <h4>Type: <%= type %></h5>
    <br>
    <a href="/">Home</a>
  </body>
</html>
